
.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imageContainer{
  max-height: 300px;
  max-width: 800px;
  position: relative;
}
.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heading{
  margin-top: 100px;
  margin-bottom: 30px;
  /* padding: 20px 0; */
  max-width: 500px;
  position: relative;
}
#outline{
  position: absolute;
  top: -30px;
  left: 30px;
  /* right: 5px; */
  max-width: 350px;
}
#outline2{
  position: absolute;
  top: -15px;
  left: 15px;
  /* right: 5px; */
  max-width: 350px;
}
#filled{
  max-width: 350px;
}
@media (max-width: 450px) {
  #outline, #outline2, #filled {
    max-width: 200px;
  }
  #outline{
    top: -15px;
    left: 15px;
  }
  #outline2{
    top: -7px;
    left: 7px;
  }
  p.text{
    font-size: 10px;
  }
}
